@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Comic+Neue&family=Inter:wght@200&family=Open+Sans&family=Roboto&display=swap');
/*Variables*/

:root{
    --dotheight: 15px;
    --fadeintime: 0.5s;
    --sixtyperc: #1f182e;
    --sixtypercgrad: #1f182e;
    --thirtyperc: #fb95ff;
    --searchbar: #fb95ff;
    --tenperc: #FFFFFF;
    --themecolor: #FFFFFF;
    --logo: url('../img/logo.png');
    --tickets: url('../img/ticket.png')
    --canvtop: 100%;
    --canvop: 0;
}

/*Main features*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-repeat: no-repeat;
    margin: 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.5s;
}

.scene, canvas {
    opacity: var(--canvop);
    top: var(--canvtop);
    position: fixed;
    width: 100%;
    height: 70%;
    z-index: 68;
    transition: top 1s, opacity 1s;
}

/*Loading screen*/

#loadscreen{
    z-index: 69420;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: var(--sixtyperc);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    gap: 10px;
    opacity: 1;
    transition: opacity 0.5s, top 1s, background 0.5s;
}

#loadtext{
    position: absolute;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: var(--tenperc);
    bottom: 20%;
    animation: fadeintext 1.5s 0s ease-in;

}

#loadbar{
    position: absolute;
    border-radius: 10px;
    bottom: 10%;
    width: 90%;
    height: 2%;
    background: var(--tenperc);
    animation: fadein 1s 0s ease-in;
    transition: background 0.5s;
}

#progress{
    position: absolute;
    border-radius: 10px;
    width: 0px;
    height: 100%;
    background: var(--thirtyperc);
    transition: width 3s, background 0.5s;
}

#dots{
    bottom: 0;
    opacity: 1;
    position: relative;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    animation: dotsfadein 1s 0s ease-in;
    
}

.dot{
    position: relative;
    background: var(--thirtyperc);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    top: 0px;
    transition: background 0.5s;
    
}

#loadscreen .dot:nth-child(1){
    top: var(--dotheight);
    animation: movedot 1s 0s ease-in infinite;
}

#loadscreen .dot:nth-child(2){
    top: var(--dotheight);
    animation: movedot 1s 0.33s ease-in infinite;
}

#loadscreen .dot:nth-child(3){
    top: var(--dotheight);
    animation: movedot 1s 0.66s ease-in infinite;
}

/*Ending loading screen*/

/*Top bar*/

header{
    position: fixed;
    display: flex;
    z-index: 70;
    top: 0;
    background: var(--sixtyperc);
    width: 100vw;
    height: 8.5%;
    transition: height 0.5s, background 0.5s;
}

#topbarborder{
    position: absolute;
    bottom: 0;
    background: linear-gradient(90deg,var(--sixtyperc),var(--tenperc),var(--sixtyperc));
    height: 1%;
    width: 100%;
    transition: background 0.5s;
}

#vgm-logo{
    position: relative;
    top: 10%;
    height: 80%;
    width: 7.5%;
    background-image: var(--logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.buttons{
    position: relative;
    display: flex;
    align-items: left;
    height: 100%;
    left: 0%;
    width: 90%;
}

.gotobutton{
    position: relative;
    height: 100%;
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-line{
    position: absolute;
    width: 30%;
    height: 3%;
    bottom: 5%;
    left: 50%;
    background: var(--thirtyperc);
    transform: translateX(-50%);
    transition: width 0.5s;
}

.gotobutton:hover > .button-line{
    width: 80%;
}

.gotobutton:hover > .button-text{
    color: var(--thirtyperc);
}

.button-text{
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    position: relative;
    top: 10%;
    color: var(--tenperc);
    transition: color 0.2s;
}

#s-bar{
    overflow: hidden;
    display:flex;
    justify-content:center;
    align-items: center;
    position:relative;
    top: 50%;
    right: 5%;
    width: 20%;
    height: 35%;
    background: white;
    border-radius: 25px;
    border: 2px solid var(--searchbar);
    transition: width 0.5s, top 0.5s, filter 0.5s;
    transform: translateY(-50%);
}
  
#search-input{
    overflow: hidden;
    outline: none;
    border: none;
    width: 95%;
    height:100%;
}
  
#s-icon{
    opacity: 1;
    position: absolute;
    right:5%;
    object-fit: contain;
    height: 80%;
    transition: opacity 0.5s;
}

#toggle-theme{
    cursor: pointer;
    z-index: 666;
    border-radius: 50%;
    top: 50%;
    height: 50%;
    width: 2.5%;
    position: relative;
    background: var(--themecolor);
    right: 1%;
    transform: translateY(-50%);
    transition: background 0.5s;
}

#t-overlay{
    position: absolute;
    border-radius: 50%;
    right: -25%;
    top: -25%;
    height: 0%;
    width: 0%;
    background: var(--sixtyperc);
    transition: height 0.5s, width 0.5s, background 0.5s;
}

#tickets{
    position: relative;
    top: 50%;
    right: 1%;
    height: 55%;
    width: 5%;
    rotate: -35deg;
    background-image: var(--tickets);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
}

.languages{
    cursor: pointer;
    z-index: 666;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    height: 80%;
    width: 175px;
    right: 1%;
    gap: 10px;
}

.languagebutton{
    cursor: pointer;
    background: var(--tenperc);
    width: 30%;
    height: 60%;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.english{
    background-image: url(../img/English.png);
}

.dutch{
    background-image: url(../img/Dutch.png);
}

/*Ending top bar*/

/*Page properties*/

.page{
    position: absolute;
    top: 0px;
    background: linear-gradient(var(--sixtypercgrad),var(--sixtyperc));
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5%;
}

.homepage{
    height: 1500px;
}

.historypage{
    height: 3000px;
}

.infopage{
    height: 1700px;
}

.gamepage{
    height: 3000px;
}

.info-text-box {
    z-index: 69;
    position: absolute;
    width: 40%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
}

.info-text-box-center{
    height: 100%;
    width: 80%;
}

.info-text-box-title{
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
}

.info-text-box-text{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

.textbox{
    position: absolute;
    text-align: center;
    height: 10%;
    width: 40%;
}

.textbox-text{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: var(--tenperc);
}

.textbox-title{
    font-family: "Open Sans", sans-serif;
    font-size: 34px;
    color: var(--thirtyperc);
}

#info-text-box-1{
    left: 4%;
    top: 7%;
    background: rgb(190, 140, 209);
}

#info-text-box-2{
    right: 4%;
    top: 33%;
    background: rgb(59, 131, 126);
}

#info-text-box-3{
    left: 4%;
    top: 59%;
    background: rgb(120, 52, 192);
}

#info-text-box-4{
    left: 4%;
    top: 4%;
    background: rgb(114, 158, 186);
}

#info-text-box-5{
    right: 4%;
    top: 19%;
    background: rgb(101, 80, 111);
}

#info-text-box-6{
    left: 4%;
    top: 39%;
    background: rgb(71, 117, 84);
}

#info-text-box-7{
    right: 4%;
    top: 53%;
    background: rgb(204, 110, 216);
}

#info-text-box-8{
    left: 4%;
    top: 62%;
    background: rgb(131, 58, 226);
}

#info-text-box-9{
    left: 4%;
    top: 45%;
    background: rgb(40, 173, 255);
}

#info-text-box-10{
    right: 4%;
    top: 54%;
    background: rgb(169, 98, 202);
}

#info-text-box-11{
    left: 4%;
    top: 62%;
    background: rgb(123, 209, 148);
}

#info-text-box-12{
    right: 4%;
    top: 70%;
    background: rgb(79, 129, 244);
}

#info-text-box-13{
    left: 4%;
    top: 77%;
    background: rgb(202, 98, 157);
}

.hometitle{
    position: relative;
    top: 10%;
}
.container{
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    top: 0%;
    width: 60%;
    height: 90vh;
}

.container2{
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    top: 0%;
    width: 60%;
    height: 90vh;
}
  
.swiper{
    width: 80%;
    height: fit-content;
}
  
.swiper-slide img{
    width: 100%;
}
  
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: var(--thirtyperc);
}
  
.swiper .swiper-pagination-bullet-active{
    background: var(--thirtyperc);
}

#opening-times{
    bottom: 40%;
}

#contact{
    bottom: 0%;
    height: 5%;
}

.dissapointedpng{
    position: relative;
    top: 10%;
}

.dissapointedtext{
    position: relative;
    top: 8%;
    font-family: "DM Sans", sans-serif;
    font-size: 46px;
    color: var(--tenperc);
}

/* End page properties*/

/*Footer*/

footer{
    z-index: 70;
    position: absolute;
    width: 100vw;
    background: var(--sixtyperc);
    height: 20vh;
    transition: background 0.5s;
}

.homepagefooter{
    top: 1500px;
}

.historypagefooter{
    top: 3000px;
}

.infopagefooter{
    top: 1700px;
}

.gamepagefooter{
    top: 3000px;
}

.sideoverlay{
    position: absolute;
    z-index: 42;
    width: 10%;
    height: 100%;
    background: var(--sixtyperc)
}

.rightso{
    right: 0;
}

#BottomSecTopBar{
    background: var(--tenperc);
    position: absolute;
    top: 0;
    width: 0%;
    left: 50%;
    height: 0.2%;
    transform: translateX(-50%);
    transition: width 0.5s, background 0.5s;
}

#pacmanarea{
    position: absolute;
    width: 100vw;
    height: 100%;
    bottom: 0%;
    opacity: 0;
    transition: bottom 0.75s, opacity 0.75s;
}

.PacmanObj{
    z-index: 42;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

#pacman{
    background-image: url(../img/Pacman.gif);
    animation: pacmananimation 10s 0s ease-in infinite;
}

#ghost{
    background-image: url(../img/Clyde.gif);
    animation: pacmananimation 10s 0.66s ease-in infinite;
}

.PacmanDot{
    position: absolute;
    top: 80%;
    height: 5px;
    width: 5px;
    background: var(--tenperc);
    transition: background 0.5s;
}

.d1{
    left: 5%;
}

.d2{
    left: 15%;
}

.d3{
    left: 25%;
}

.d4{
    left: 35%;
}

.d5{
    left: 45%;
}

.d6{
    left: 55%;
}

.d7{
    left: 65%;
}

.d8{
    left: 75%;
}

.d9{
    left: 85%;
}

.d10{
    left: 95%;
}

/*End footer*/

/*Keyframing*/

@keyframes pacmandotanimation{
    0%{
        opacity: 0;
    }

    95%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes pacmananimation {
    0%{
        left: 0%;
    }

    100%{
        left: 90%;
    }
}

@keyframes movedot {
    0%{
        top: 0;
    }
    33%{
        top: var(--dotheight);
    }
    66%{
        top: 0;
        
    }
    100%{
        top: 0;
    }
}

@keyframes fadein{
    0%{
        opacity: 0;
        bottom: 5%;
    }
    70%{
        opacity: 0;
        bottom: 5%;
    }
    100%{
        opacity: 1;
        bottom: 10%;
    }
}

@keyframes fadeintext{
    0%{
        opacity: 0;
        bottom: 5%;
    }

    40%{
        opacity: 0;
        bottom: 5%;
    }

    90%{
        opacity: 0;
        bottom: 5%;
    }
    100%{
        opacity: 1;
        bottom: 20%;
    }
}

@keyframes dotsfadein{
    0%{
        opacity: 0;
        bottom: -5%;
    }
    50%{
        opacity: 0;
        bottom: -5%;
    }
    80%{
        opacity: 1;
        bottom: 0;
    }
    100%{
        opacity: 1;
        bottom: 0;
    }
}

/*Mobile compatibility*/

@media only screen and (max-width: 600px) {

}

#reviews-1{
    left: 10%;
    top: 82.5%;
    background: rgb(190, 140, 209);
}

#reviews-2{
    left: 53%;
    top: 70%;
    background: rgb(123, 150, 188);
}

#reviews-3{
    left: 53%;
    top: 82.5%;
    background: rgb(146, 209, 140);
}

.reviews {
    z-index: 69;
    position: absolute;
    width:38%;
    height: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
}

.reviews-textbox-text{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

.textbox-title2{
    font-family: "Open Sans", sans-serif;
    font-size: 150px;
    color: var(--thirtyperc);
    position: absolute;
    left:10%;
    top: 68%;
}